/project lost/Assets/Enemy3/Ch10_nonPBR.fbx

/project lost/Library/PackageCache/com.unity.cinemachine@2.8.9
/project lost/Library/PackageCache/com.unity.collab-proxy@2.0.3
/project lost/Library/PackageCache/com.unity.editorcoroutines@1.0.0
/project lost/Library/PackageCache/com.unity.ext.nunit@1.0.6
/project lost/Library/PackageCache/com.unity.feature.development@1.0.1
/project lost/Library/PackageCache/com.unity.ide.rider@3.0.20
/project lost/Library/PackageCache/com.unity.ide.visualstudio@2.0.18
/project lost/Library/PackageCache/com.unity.ide.vscode@1.2.5
/project lost/Library/PackageCache/com.unity.modules.ai@1.0.0
/project lost/Library/PackageCache/com.unity.modules.androidjni@1.0.0
/project lost/Library/PackageCache/com.unity.modules.animation@1.0.0
/project lost/Library/PackageCache/com.unity.modules.assetbundle@1.0.0
/project lost/Library/PackageCache/com.unity.modules.audio@1.0.0
/project lost/Library/PackageCache/com.unity.modules.cloth@1.0.0
/project lost/Library/PackageCache/com.unity.modules.director@1.0.0
/project lost/Library/PackageCache/com.unity.modules.imageconversion@1.0.0
/project lost/Library/PackageCache/com.unity.modules.imgui@1.0.0
/project lost/Library/PackageCache/com.unity.modules.jsonserialize@1.0.0
/project lost/Library/PackageCache/com.unity.modules.particlesystem@1.0.0

/project lost/Library/PackageCache/com.unity.visualscripting@1.8.0